<nav class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menu-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/light/app">自由人</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-menu-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/jobs" data-toggle="modal" data-target="#recruit">发布职位</a></li>
                <li><a href="#/jobs" data-toggle="modal" data-target="#feedback" data-keyboard="true">反馈</a></li>
                <li><a href="#/jobs" data-toggle="modal" data-target="#about">关于</a></li>
                <li><a href="#/jobs">捐助</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>