<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#">最新招聘</a>
        </li>
        <li><a href="#/jobs/1">设计师</a>
        </li>
        <li><a href="#/jobs/2">开发工程师</a>
        </li>
        <li><a href="#/jobs/3">商务师</a>
        </li>
        <li><a href="#/jobs/5">广告文字撰稿人</a>
        </li>
        <li><a href="#/jobs/6">系统管理员</a>
        </li>
        <li><a href="#/jobs/7">客服支持</a>
        </li>
        <li><a href="#/jobs/4">杂项</a>
        </li>
    </ul>
</div>

<nav class="navbar-fixed-bottom navbar-inverse" role="navigation">
    <div class="collapse navbar-collapse navbar-menu-collapse">
        <ul class="nav navbar-nav">
            <li><a href="#/" data-toggle="modal" data-target="#subscribe">订阅职位</a></li>
            <li><a href="#/" data-toggle="modal" data-target="#recruit">发布职位</a></li>
            <li><a href="#/" data-toggle="modal" data-target="#feedback" data-keyboard="true">反馈</a></li>
            <li><a href="#/" data-toggle="modal" data-target="#about">关于</a></li>
            <li><a href="#/">捐助</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>