<!doctype html>
<html lang="en" ng-app="light">
<head>
    <meta charset="utf-8">
    <meta name="baidu-tc-cerfication" content="6bd457adcf08474cc1250e10dfb0ab6d" />
    <title>自由人</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link href="css/sidebar.css" rel="stylesheet">

    <style type="text/css">
        body {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <div class="container" id="wrapper">
        <ng-include src="'partials/sidebar.html'"></ng-include>
        <ng-include src="'partials/modals.html'"></ng-include>
        <div id="page-content-wrapper">
            <div class="content-header">
                <h2>
                    <a id="categories-toggle" href="#/jobs" onclick="$('#wrapper').toggleClass('active');" class="glyphicon glyphicon-th-list">
                        <i class="icon-reorder"></i>
                    </a>
                </h2>
                <h2 class="pull-right">
                    <a id="menu-toggle" href="#/jobs" class="glyphicon glyphicon-th-large" data-toggle="collapse" data-target=".navbar-menu-collapse">
                        <i class="icon-reorder"></i>
                    </a>
                </h2>
            </div>

            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                <div ng-view></div>
            </div>
        </div>
        <hr>
        <ng-include src="'partials/footer.html'"></ng-include>
    </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
